/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 15, 2019, 4:16:43 AM
    Author     : EddyfhizzyPc
*/
.parent{
    -fx-background-color: #fff;

}
.sidebar{
    -fx-background-color: #042954;
}
.mainDash{
    -fx-background-color: #f0f1f3;
}

.elevator {
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,.4) , 30, 0 , 0 , 0 );
}

.tophbar{
    -fx-background-color: #022240;
}
._tophbar{
    -fx-background-color: #080C21;
}
.supportbtn{
    background-color: #042954;
}
.allsubpane{
    -fx-background-color :  linear-gradient(to left, #808080 40%,#802876);
    -fx-background-radius: 10;
}

.allsubpane2{
    -fx-background-color :  linear-gradient(to left,#802876 40%,#808080);
}
.allsubpane3{
    -fx-background-color :  linear-gradient(to left,#808080 20%,#802876);
}
.allsubpane4{
    -fx-background-color :  linear-gradient(to left,#802876 50%,#808080);
}

.teacher{
    -fx-background-color: rgba(86,176,167,0.7);
    -fx-background-radius: 10;
}
.addstudent{
    -fx-background-color: rgba(255,255,255,0.8);
}
.notice{
    -fx-background-color: rgba(255,0,0,0.5);
}
.overlayPane{
    -fx-background-color: rgba(255,255,255,0.9);
}

.panes_btn:hover{
    -fx-background-color: blue;
}