/School-Management-System/dist/
School-Management-System/build/classes/school/management/system/7.jpg
/SchoolManagementSystem/nbproject/private/
/SchoolManagementSystem/build/
/SchoolManagementSystem/dist/